img[alt="Logo"] {
    max-width: 150px;
    border-radius: 50%;
    align-content: center;
  }
  

  .header-content {
    text-align: center;
  }
  
  .header-content img {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem;
  }
  
  .header-content h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  
  .header-content p {
    font-size: 1.1rem;
    color: #555;
  }

  .indented {
      margin-left: 4em;
      margin-top: -0.8em;
    }
    
  
  .contact-section {
  text-align: center;
  margin: 1rem 0;
}
.contact-section a {
  margin: 0 0.8rem;
  /* color: #007acc; */
  text-decoration: none;
}

.wrapper a {
  display: inline-block;
  font-weight: 400;
  color: #007acc;
  text-decoration: none;
  transition: all 0.2s ease;
}

.wrapper a:hover {
  font-weight: 500; /* or 500 for less movement */
  color: #005f99;
}